.container-image-a-propos {
    width: 100%;
    height: 100px;
    background-image: url(../img/a_propos/a_propos.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -0 -100px;
    opacity: .5;
}