/* CSS variable */

:root {
    /* color */
    --beige: #F5D4B1;
    --orange-saumon: #F88E55;
    --leger-blanc: rgba(255, 255, 255, 0.25);
    --demi-noire: rgba(0, 0, 0, 0.5);
    --inter-ligne: 2rem;
}


/* Enlever la partie blanche en bas */

html {
    height: 100%;
}


/* Enlever propriété de li */

li {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    padding-inline-start: 0px;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


/* body */

body {
    margin: 0;
    line-height: var(--inter-ligne);
}


/* header */

header {
    /* fixer header en bas */
    position: fixed;
    top: 0;
}

header>nav>ul>li>a {
    color: white;
}

header>nav>ul>li>a:hover {
    color: black;
    transition: all 0.5s linear;
}

.page-actuel {
    background-color: var(--leger-blanc);
    border-radius: 2.5px;
    color: black;
}

.page-actuel>a {
    color: black;
}

.barre-nav {
    padding: 5px 0;
    width: 25px;
    height: 3px;
    background: black;
    background-clip: content-box;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}


/* main */

main {
    padding-top: var(--espace-header);
}


/* fixer footer en bas */


/* footer {
    position: fixed;
    bottom: 0;
} */


/* table */

table {
    border-collapse: collapse;
}

.border-black {
    border: 1px black solid;
}


/* backgroud color */

.backgroud-orange-saumon {
    background-color: var(--orange-saumon);
}

.background-beige {
    background-color: var(--beige);
}


/* cursor */

.cr-pointer {
    cursor: pointer;
}


/* display */

.cache {
    display: none;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}


/* Propiétés de flex*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.reverse {
    flex-wrap: reverse;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-start {
    justify-content: flex-start;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-stretch {
    align-items: stretch;
}

.direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.align-self-start {
    align-self: flex-start;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-center {
    align-self: center;
}

.align-self-baseline {
    align-self: baseline;
}

.align-self-stretch {
    align-self: stretch;
}

.flex-100 {
    flex: 0 0 100%;
}

.flex-90 {
    flex: 0 0 90%
}

.flex-80 {
    flex: 0 0 80%
}

.flex-70 {
    flex: 0 0 70%;
}

.flex-60 {
    flex: 0 0 60%;
}

.flex-50 {
    flex: 0 0 50%;
}

.flex-40 {
    flex: 0 0 40%;
}

.flex-30 {
    flex: 0 0 30%
}

.flex-20 {
    flex: 0 0 20%;
}

.flex-15 {
    flex: 0 0 15%
}

.flex-10 {
    flex: 0 0 10%
}

.flex-5 {
    flex: 0 0 5%
}

.shrink0 {
    flex-shrink: 0;
}

.shrink1 {
    flex-shrink: 1;
}

.shrink2 {
    flex-shrink: 2;
}


/* position fixed */

.ab-right {
    position: fixed;
    right: 0.5rem;
}


/*hauteur*/

.hight100 {
    height: 100px;
}

.hight75 {
    height: 75px;
}


/*largeur*/

.w100 {
    width: 100%;
}

.w90 {
    width: 90%;
}

.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.w30 {
    width: 30%;
}

.w20 {
    width: 20%;
}

.w10 {
    width: 10%;
}

.w300px {
    width: 300px;
}

.w400px {
    width: 400px;
}


/*margin*/

.m-auto {
    margin: auto;
}

.mt-025r {
    margin-top: .25rem;
}

.ml-05r {
    margin-left: .5rem;
}

.mr-05r {
    margin-right: .5rem;
}


/*padding*/

.pad-05r {
    padding: .5rem;
}


/*centrer les texte*/

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


/* float */

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.ordi-affiche {
    display: none;
}


/* Tablette */

@media(min-width: 768px) {}


/* Ordinateur */

@media(min-width: 1200px) {
     :root {
        --espace-header: 5rem;
    }
    .ordi-affiche {
        display: inline-block;
    }
    header {
        /* l'espace que header prend */
        height: var(--espace-header);
    }
}