.container-titre-page {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(../img/contact/contact.jpg);
}


/* formulaire de contact*/

.form-contact-container {
    animation: changerBackgroundFormContact 8s infinite alternate;
}


/* contenu */

#contenu {
    width: 12.5rem;
    height: 10rem;
}


/* bouton container */

.form-contact-bouton-container {
    width: 100%;
}


/* contact */

.contact-container {
    width: 300px;
}

@keyframes changerBackgroundFormContact {
    0% {
        background: url(../img/contact/background_formulaire_tres_petit.jpg);
    }
    100% {
        background: url(../img/contact/background_formulaire2_tres_petit.jpg);
    }
}


/* réseaux sociaux */

.reseau-social-container {
    background: linear-gradient(to right, var(--beige), white);
    animation: changerBackgroundReseauSocial 6s linear infinite;
}

@keyframes changerBackgroundReseauSocial {
    from {
        filter: hue-rotate(360deg);
    }
    to {
        filter: hue-rotate(0deg);
    }
}

.reseau-social-logo-container {
    width: 200px;
}

.reseau-social-logo-a {
    transition: all 0.3s linear;
}

.reseau-social-logo-a:hover {
    opacity: 0.5;
}


/* téléphone, e-mail et adresse */

.t-e-a-container {
    background: linear-gradient(to right, white, var(--beige));
    animation: changerBackgroundTEA 6s linear infinite;
}

@keyframes changerBackgroundTEA {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}


/* Écran très petit */

@media(min-width: 576px) {
    /* formulaire de contact*/
    /* sujet, email */
    #sujet,
    #email {
        width: 15rem;
    }
    /* contenu */
    #contenu {
        width: 25rem;
        height: 15rem;
    }
}


/* Écran petit */

@media(min-width: 768px) {
    /* formulaire de contact*/
    @keyframes changerBackgroundFormContact {
        0% {
            background: url(../img/contact/background_formulaire_petit.jpg);
        }
        100% {
            background: url(../img/contact/background_formulaire2_petit.jpg);
        }
    }
}


/* Écran moyen */

@media(min-width: 992px) {
    /* formulaire de contact*/
    @keyframes changerBackgroundFormContact {
        0% {
            background: url(../img/contact/background_formulaire_moyen.jpg);
        }
        100% {
            background: url(../img/contact/background_formulaire2_moyen.jpg);
        }
    }
    /* contenu */
    #contenu {
        width: 30rem;
        height: 15rem;
    }
    .form-contact-bouton-container {
        width: calc(0.8*992px);
    }
}


/* Écran grand */

@media(min-width: 1200px) {
    /* formulaire de contact*/
    @keyframes changerBackgroundFormContact {
        0% {
            background: url(../img/contact/background_formulaire_grand.jpg);
        }
        100% {
            background: url(../img/contact/background_formulaire2_grand.jpg);
        }
    }
    /* reseaux sociaux */
    .contact-container {
        width: 425px;
    }
}